.header {
  background-image: url(../img/header.webp);
  /* background-image: url(../img/banner.jpg); */
color: white;
background-color: #111518;
  height: 40rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contenedor .contendor_titulo {
  text-align: start;
}

.logo__nombre {
  font-weight: 400;
}
/* footer {
  background-color: #4b8a3d; 
  color: #ffffff; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
} */
.logo__nombre .logo_bold {
  font-weight: 700;
}
main {
  text-align: center;
}
main h1 {
  font-weight: bold;
}

.carousel-inner .carousel-item {
	height: 30rem;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

}
.carousel-item img{
  height: 100%;
}