/* Estilos generales para la página de recetas */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f8f9fa; /* Color de fondo claro */
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que el cuerpo ocupe al menos toda la altura de la ventana */
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: #4b8a3d; /* Verde oliva */
}
.col-12 {
  display: flex;
  justify-content: center;
}
.col-12 img {
  height: 380px;
  border-radius: 12px;
}
main h2 {
  text-align: center;
  font-weight: 600;
}
main h3 {
  font-weight: 100;
}
/* .border_info{
    border: solid 1px ;
} */
footer {
  background-color: #4b8a3d; /* Verde oliva */
  color: #ffffff; /* Texto en blanco */
  display: flex!important;
  justify-content: center!important;
  align-items: center!important;
  height: 10vh;
}
button a {
  color: white;
  text-decoration: none;
}
button a:hover {
  color: white;
  text-decoration: none;
}
