main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}


.card {
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

header, footer {
  background-color: #4B8A3D;
  color: #ffffff;
  padding: 1em;
  text-align: center;
}

.nav-links {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 15px;
}

.banners img {
  width: 35%;
  height: auto;
  margin: 0 auto;
  display: block;
}

.container_form {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 12px;
}

.recetas {
  padding: 20px;
}

