main {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los elementos hijos */
  justify-content: center; /* Centra verticalmente */
  min-height: 100vh; /* Asegura que ocupe toda la altura */
}

.card {
  width: 100%; /* Asegura que las tarjetas ocupen todo el ancho disponible */
  max-width: 400px; /* Limita el ancho máximo como el formulario */
  margin: 20px auto; /* Centra las tarjetas en la página */
  padding: 20px; /* Agrega un poco de padding */
  background-color: #ffffff; /* Fondo blanco */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25); /* Sombra similar al login */
  transition: transform 0.2s; /* Transición suave al pasar el ratón */
}

.card:hover {
  transform: scale(1.05); /* Efecto de hover */
}

header {
  background-color: #4B8A3D; /* Verde oliva */
  color: #ffffff; /* Texto en blanco */
  padding: 1em;
  text-align: center;
}

.nav-links {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: #ffffff; /* Enlace en blanco */
  text-decoration: none;
  margin: 0 15px;
}

.banners img {
  width: 35%; /* Ajusta el tamaño de las imágenes de los banners al 60% */
  height: auto; /* Mantiene la proporción de las imágenes */
  margin: 0 auto; /* Centra las imágenes */
  display: block; /* Muestra como bloque para centrar */
}

.container_form {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 12px;
}

.recetas {
  padding: 20px;
}

/* Otros estilos ya existentes... */
