<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detalle de la Receta</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <h1 th:text="${receta.nombre}">Nombre de la Receta</h1>
    <img th:src="${receta.imagen}" alt="Imagen de la receta" />
    <h2>Ingredientes</h2>
    <p th:text="${receta.ingredientes}"></p>
    <h2>Instrucciones</h2>
    <p th:text="${receta.instrucciones}"></p>
    <h2>Tiempo de Cocción</h2>
    <p th:text="${receta.tiempoCoccion} + ' minutos'"></p>
    <h2>Dificultad</h2>
    <p th:text="${receta.dificultad}"></p>
    <a href="/home">Volver a la Página de Inicio</a>
</body>
</html>
