<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Security-Policy" />
    <title>Recetas</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/home.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    <header class="header">
      <article class="contenedor">
        <div class="contendor_titulo">
          <h1 class="logo__nombre">
            <span class="logo_bold">Bienvenido</span><br /> a Recetas Deliciosas
          </h1>
          <div class="authenticated-section" th:if="${username != null}">
            <h1>Hola, <span th:text="${username}"></span>!</h1>
          </div>
        </div>
        <nav>
          <ul class="nav-links">
            <li th:if="${username == null}">
              <a href="/login">
                <i class="fas fa-user"></i> Inicio de Sesión
              </a>
            </li>
            <li>
              <a href="/registro">
                <i class="fas fa-user"></i> Registro de Usuario
              </a>
            </li>
            <li th:if="${username != null}">
              <a href="/logout">
                <i class="fas fa-sign-out-alt"></i> Cierre de Sesión
              </a>
            </li>
          </ul>
        </nav>
      </article>
    </header>   

    <main class="container-fluid mt-5">
      <h1>Recetas Recientes y Populares</h1>

      <article class="row">
        <section class="col-3 mt-5">
          <input
            type="text"
            id="searchInput"
            class="form-control mb-4"
            placeholder="Buscar recetas..."
            onkeyup="filterRecipes()"
          />
        </section>
      </article>

      <article class="row" id="recipeContainer">
        <div
          class="card col-3"
          th:each="receta : ${recetas}"
          data-receta="${receta}"
        >
          <a th:href="@{/recetas/{nombre}(nombre=${receta.nombre})}">
            <img
              th:src="@{${receta.imagen}}"
              class="d-block w-100"
              alt="Banner 1"
            />
          </a>
          <div class="card-body">
            <h3 class="receta-nombre" th:text="${receta.nombre}"></h3>
            <p style="font-weight: bold">
              Tipo de cocina:
              <span
                class="receta-tipoCocina"
                th:text="${receta.tipoCocina}"
                style="font-weight: normal"
              ></span>
            </p>

            <p style="font-weight: bold">
              Ingredientes:
              <span
                class="receta-ingredientes"
                th:text="${receta.ingredientes}"
                style="font-weight: normal"
              ></span>
            </p>

            <p style="font-weight: bold">
              Dificultad:
              <span
                class="receta-dificultad"
                th:text="${receta.dificultad}"
                style="font-weight: normal"
              ></span>
            </p>
          </div>
        </div>
      </article>

      <section>
        <h2>Otras Recetas</h2>
      </section>
      <article
        id="carouselExampleIndicators"
        class="carousel slide my-3"
        data-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10">
            <img
              th:src="@{/img/5267344.jpg}"
              class="d-block w-100"
              alt="Banner 1"
            />
          </div>
          <div class="carousel-item" data-bs-interval="10">
            <img
              th:src="@{/img/pumpkin-pie-making-composition.jpg}"
              class="d-block w-100"
              alt="Banner 2"
            />
          </div>
          <div class="carousel-item" data-bs-interval="10">
            <img
              th:src="@{/img/banner3.png}"
              class="d-block w-100"
              alt="Banner 3"
            />
          </div>
        </div>
        <a
          class="carousel-control-prev"
          href="#carouselExampleIndicators"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#carouselExampleIndicators"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </article>
    </main>

    <footer>
      <p>&copy; 2024 Recetas Deliciosas. Todos los derechos reservados.</p>
    </footer>
    <script src="/js/search.js"></script>
  </body>
</html>
