<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recetas</title>
    <link rel="stylesheet" href="/style/home.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    <header class="header-home">
      <img th:src="@{/img/header.webp}" alt="Header Image" class="header-image" />
      <article class="contenedor">
        <div class="contendor_titulo">
          <h1 class="logo__nombre">
            <span class="logo_bold">Bienvenido</span><br /> a Recetas Deliciosas
          </h1>
          <div class="authenticated-section" th:if="${username != null}">
            <h1>Hola, <span th:text="${username}"></span>!</h1>
          </div>
        </div>
        <nav>
          <ul class="nav-links">
            <li th:if="${username == null}">
              <a href="/login">
                <i class="fas fa-user"></i> Inicio de Sesión
              </a>
              <a href="/registro">
                <i class="fas fa-user"></i> Registro de Usuario
              </a>
            </li>
            <li th:if="${username != null}">
              <a href="/logout">
                <i class="fas fa-sign-out-alt"></i> Cierre de Sesión
              </a>
            </li>
          </ul>
        </nav>
      </article>
    </header>

    <main class="container-fluid mt-5">
      <h1>Recetas Recientes y Populares</h1>

      <!-- Recetas -->
      <article class="row" id="recipeContainer">
        <div class="card col-3" th:each="receta : ${recetas}">
          <a th:href="@{/recetas/{id}(id=${receta.recetaId})}">
            <div id="carousel-${receta.recetaId}" class="carousel slide my-4" data-ride="carousel" th:if="${receta.media != null}">
              <div class="carousel-inner">
                <!-- Imágenes -->
                <div class="carousel-item" th:classappend="${iterStat.index == 0 ? ' active' : ''}" th:each="imagen, iterStat : ${receta.media.imagenes}">
                  <img th:src="${imagen}" class="d-block w-100" alt="Imagen de receta">
                </div>

                <!-- Videos -->
                <div class="carousel-item" th:classappend="${iterStat.index == 0 && receta.media.imagenes.isEmpty() ? ' active' : ''}" th:each="video, iterStat : ${receta.media.videos}">
                  <video class="d-block w-100" controls>
                    <source th:src="${video}" type="video/mp4">
                    Tu navegador no soporta el video.
                  </video>
                </div>

                <!-- Enlaces de YouTube -->
                <div class="carousel-item" th:classappend="${iterStat.index == 0 && receta.media.imagenes.isEmpty() && receta.media.videos.isEmpty() ? ' active' : ''}" th:each="youtubeLink, iterStat : ${receta.media.youtubeLinks}">
                  <iframe class="d-block w-100 youtube-video" th:src="${youtubeLink}" frameborder="0" allowfullscreen></iframe>
                </div>
              </div>

              <a class="carousel-control-prev" href="#carousel-${receta.recetaId}" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carousel-${receta.recetaId}" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>

            <!-- Imagen por defecto -->
            <img th:if="${receta.media == null || (receta.media.imagenes.isEmpty() && receta.media.videos.isEmpty() && receta.media.youtubeLinks.isEmpty())}" th:src="@{/img/default-image.jpg}" class="d-block w-100" alt="Imagen predeterminada">
          </a>
          <div class="card-body">
            <h3 class="receta-nombre" th:text="${receta.nombre}"></h3>
            <p><strong>Tipo de cocina:</strong> <span th:text="${receta.categoria}"></span></p>
            <p><strong>Ingredientes:</strong> <span th:text="${receta.ingredientes}"></span></p>
            <p><strong>Dificultad:</strong> <span th:text="${receta.dificultad}"></span></p>
          </div>

          <div class="comentarios-list">
            <h3>Comentarios</h3>
            <div id="comentariosCarousel-${receta.recetaId}" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item" th:each="comentario, iterStat : ${receta.comentarios}" th:classappend="${iterStat.index == 0 ? ' active' : ''}">
                  <div class="comentario-item text-center">
                    <p><strong th:text="${comentario.usuario}"></strong> dice:</p>
                    <p th:text="${comentario.comentario}"></p>
                    <p>
                      <span th:each="i : ${#numbers.sequence(1, 5)}" 
                            th:classappend="${i <= comentario.puntuacion ? 'fas fa-star text-warning' : 'far fa-star text-warning'}">
                      </span>
                  </p>
                  </div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#comentariosCarousel-${receta.recetaId}" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#comentariosCarousel-${receta.recetaId}" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
                          
        </div>
      </article>

      <!-- Carrusel de banners -->
      <section class="carousel-container mt-5">
        <div id="carouselExampleIndicators" class="carousel slide my-3" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img th:src="@{/img/banner1.png}" class="d-block w-100" alt="Banner 1" />
            </div>
            <div class="carousel-item">
              <img th:src="@{/img/banner2.png}" class="d-block w-100" alt="Banner 2" />
            </div>
            <div class="carousel-item">
              <img th:src="@{/img/banner3.png}" class="d-block w-100" alt="Banner 3" />
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </section>
    </main>

    <footer>
      <p>&copy; 2024 Recetas Deliciosas. Todos los derechos
