<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista de Recetas</title>
    <link rel="stylesheet" href="/recetas.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <h1>Lista de Recetas</h1>
    </header>

    <main class="container my-4">
        <div class="row justify-content-center">
            <div class="col-md-4" th:each="receta : ${recetas}">
                <div class="card mb-4">
                    <img th:src="@{${receta.imagen}}" class="card-img-top" alt="Imagen de receta" />
                    <div class="card-body">
                        <h5 class="card-title" th:text="${receta.nombre}"></h5>
                        <p class="card-text" th:text="${receta.ingredientes}"></p>                    
                        <p class="card-text" th:text="${receta.instrucciones}"></p>
                        <p class="card-text" th:text="${receta.tiempoCoccion}"></p>
                        <p class="card-text" th:text="${receta.dificultad}"></p>
                    </div>
                </div>
            </div>
        </div>
        <a href="/home" class="text-primary" style="display: block; text-align: center; margin-top: 20px;">Volver a la Página de Inicio</a>
    </main>

    <footer>
        <p>&copy; 2024 Recetas Deliciosas. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
