<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Registro de Usuario</title>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Security-Policy" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/style/header-footer.css" />
    <link rel="stylesheet" type="text/css" href="/style/registro.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    <!-- Header -->
    <header>
      <h1>Registro de Usuario</h1>
    </header>

    <!-- Main Content -->
    <main class="d-flex align-items-center justify-content-center min-vh-100">
      <article class="container_form">
        <form th:action="@{/registro}" method="post">
          <h2 class="text-center">Registro de Usuario</h2>

          <!-- Mensaje de error -->
          <div th:if="${error != null}" class="alert alert-danger">
            <span th:text="${error}"></span>
          </div>

          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Nombre de Usuario"
              name="username"
              id="username"
              required
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              class="form-control"
              placeholder="Contraseña"
              name="password"
              id="password"
              required
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Nombre Completo"
              name="nombre"
              id="nombre"
              required
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="RUT"
              name="rut"
              id="rut"
              required
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Dirección"
              name="direccion"
              id="direccion"
              required
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Comuna"
              name="comuna"
              id="comuna"
              required
            />
          </div>
          <button type="submit" class="btn btn-primary btn-block">
            Registrar
          </button>
          <section class="text-center mt-3">
            <a href="/home" class="btn btn-outline-primary">Volver a Inicio de Sesión</a>
          </section>
        </form>
      </article>
    </main>

    <footer>
      <p>&copy; 2024 Recetas Deliciosas. Todos los derechos</p>
    </footer>
  </body>
</html>
